---
// Right sidebar layout component
// TODO: Implement right sidebar content and behavior
---

<aside class="order-3 md:order-none md:row-span-2 md:col-start-3 flex items-start justify-center border-l border-[color:var(--border-subtle)] px-5 pt-6">
  <div class="sidebar-title">Rightsidebar</div>
</aside>
