---
// Education page
// TODO: Import education data and render within the global layout shell

import GlobalShell from '../components/layouts/GlobalShell.astro';
---

<GlobalShell>
  <section>
    <!-- TODO: Education content goes here -->
  </section>
</GlobalShell>
