---
import GlobalShell from '../components/layouts/GlobalShell.astro';
import AppHead from './_app-head.astro';
---

<html lang="en">
  <head>
    <AppHead />
  </head>
  <body>
    <GlobalShell>
      <section class="mx-auto flex w-full flex-col gap-4 px-6 pt-6 md:px-8 md:pt-8">
        <!-- TODO: Experiences content goes here -->
      </section>
    </GlobalShell>
  </body>
</html>
