---
// Experiences page
// TODO: Import experiences data and render within the global layout shell

import GlobalShell from '../components/layouts/GlobalShell.astro';
---

<GlobalShell>
  <section>
    <!-- TODO: Experiences content goes here -->
  </section>
</GlobalShell>
