---
// Projects page
// TODO: Import projects data and render within the global layout shell

import GlobalShell from '../components/layouts/GlobalShell.astro';
---

<GlobalShell>
  <section>
    <!-- TODO: Projects content goes here -->
  </section>
</GlobalShell>
