---
import GlobalShell from '../components/layouts/GlobalShell.astro';
import AppHead from './_app-head.astro';
import { StackGrid } from '../components/ui';
import { stackGroups } from '../data/stack';
---

<html lang="en">
  <head>
    <AppHead />
  </head>
  <body>
    <GlobalShell>
      <section class="mx-auto flex w-full flex-col gap-6 px-6 pt-6 md:px-8 md:pt-8">
        <StackGrid groups={stackGroups} />
      </section>
    </GlobalShell>
  </body>
</html>
