---
// Timeline page
// TODO: Import timeline data and render within the global layout shell

import GlobalShell from '../components/layouts/GlobalShell.astro';
---

<GlobalShell>
  <section>
    <!-- TODO: Timeline content goes here -->
  </section>
</GlobalShell>
